services/fruxAI/n8n/workflows/caltrans_test_current.json
[{"createdAt":"2025-08-30T20:03:49.052Z","updatedAt":"2025-08-30T20:07:10.405Z","id":"caltrans-fixed","name":"Caltrans Simple","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,300],"id":"manual_trigger","name":"Start"},{"parameters":{"url":"https://dot.ca.gov/programs/procurement-and-contracts/bid-results","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"id":"http_request","name":"Get Main Page"},{"parameters":{"extractionValues":{"values":[{"key":"text","cssSelector":"a[href*='/programs/procurement-and-contracts/bid-results/bid-week-']","returnArray":true},{"key":"href","cssSelector":"a[href*='/programs/procurement-and-contracts/bid-results/bid-week-']","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true}},"type":"n8n-nodes-base.htmlExtract","typeVersion":1,"position":[680,300],"id":"html_extract","name":"Extract Links"},{"parameters":{"jsCode":"const inputItem=$input.first();const base='https://dot.ca.gov';const items=[];if(inputItem&&inputItem.json){const texts=inputItem.json.text||[];const hrefs=inputItem.json.href||[];for(let i=0;i<Math.min(texts.length,hrefs.length);i++){const label=(texts[i]||'').trim();const rel=(hrefs[i]||'').trim();if(!rel)continue;const url=rel.startsWith('http')?rel:base+rel;items.push({json:{label,url}});}}return items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"id":"code_process","name":"Process Links"},{"parameters":{"url":"{{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"id":"http_weekly","name":"Get Weekly Page","executeOnce":false}],"connections":{"Start":{"main":[[{"node":"Get Main Page","type":"main","index":0}]]},"Get Main Page":{"main":[[{"node":"Extract Links","type":"main","index":0}]]},"Extract Links":{"main":[[{"node":"Process Links","type":"main","index":0}]]},"Process Links":{"main":[[{"node":"Get Weekly Page","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"fixed-v1                            ","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-08-30T20:03:49.052Z","updatedAt":"2025-08-30T20:03:49.052Z","role":"workflow:owner","workflowId":"caltrans-fixed","projectId":"FmVh1fkfwwKY7KQT","project":{"createdAt":"2025-08-30T07:01:01.036Z","updatedAt":"2025-08-30T07:09:41.499Z","id":"FmVh1fkfwwKY7KQT","name":"cenk kabahasanoglu <me@c3nk.com>","type":"personal","icon":null,"description":null}}]}]